.header-box {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: calc(10px + 2vmin);
}

.header-title {
    display: flex;
    justify-content: space-between;
}

.toolbar {
    text-align: left;
    margin-top: 0%;
    margin-bottom: 2%;
}

.image-box {
    text-align: left;
}

.logo {
    width: 20%;
    height: 100%;
}

button {
    outline: 0;
    background-color: white;
    border: none;
    color: darkgray;
    padding: 12px 12px;
    cursor: pointer;
    border-radius: 50%;
    border: white;
    opacity: 0.6;
    transition: 0.3s;
}

button:hover {
    opacity: 1;
}