.map-container {
    background-color: white;
    min-height: 100vh;
    min-width: 100vw;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
    padding-left: 10%;
    padding-right: 10%;
}