$primary-color: white;
$background-color: black;

// Chrome applies an 8px margin by default (gross).
body {
  margin: 0px;
}

#popup {
  align-items: center;
  background-color: $background-color;
  color: $primary-color;
  display: flex;
  font-size: 20px;
  width: 700px;
  justify-content: center;
}

#title {
  text-align: center;
}

#subtitle {
  text-align: center;
}

#autocomplete {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

#image {
  justify-content: center;
  width: 90%;
  height: auto;
  padding: 5%;
}
